{% if section.settings.is_enabled %}
  <!-- Style Css Section -->
{% style %}
  
.vowel_section{
  position:relative;
  padding-top:{{section.settings.padding-top}}px;
  padding-right:{{section.settings.padding-right}}px;
  padding-bottom:{{section.settings.padding-bottom}}px;
  padding-left:{{section.settings.padding-left}}px;
}
    
#image_slider_{{ section.id }} .swiper-slide{
  position: relative;
  overflow: hidden;
}
  
#image_slider_{{ section.id }} .swiper-slide img{
  transition: all 1s ease;
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position:center;
}
  
.blocksy-card-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius:var(--block-image-border-radius);
}

.blocksy-card-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* solid black overlay */
  opacity: var(--block-image-opacity); /* sets overlay transparency */
  pointer-events: none;
}
  
/*  */
#image_slider_{{ section.id }} .blocksy-card {
  position:relative;
  display: grid;
}
  
.swiper-slide .blocksy-card .blocksy-card-img {
  grid-area: 1 / 1;
}  
  
.swiper-slide .blocksy-card .blocksy-img-text {
  grid-area: 1 / 1;
  height: 100%;
  width: 100%;
  /* background: yellow; */
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 60px;
  z-index:10;
}
/*  */
.swiper-button-next,.swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
  border: 1px solid black;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 25px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
/*  */
/*!!!!!!!!!! IMage Text Css Start !!!!!!!!!!  */
.blocksy-card .blocksy-img-text .blocksy-img-text-inner{
  max-width:50%;
  z-index:10;
}
/*Sub Heading  */
.blocksy-card .blocksy-img-text .blocksy-img-text-inner .inner-text-sub-heading{
  font-size: var(--block-sub-heading-size);
  color:var(--block-sub-heading-color);
}
/* main Heading */
.blocksy-card .blocksy-img-text .blocksy-img-text-inner .inner-text-main-heading{
  font-size: var(--block-main-heading-size);
  color:var(--block-main-heading-color);
  margin:0;
  padding:1.6rem 0rem;
  line-height:calc( var(--block-main-heading-size) * 1.2);
}
/* Description */
.blocksy-card .blocksy-img-text .blocksy-img-text-inner .inner-text-description{
  font-size:var(--block-description-font-size);
  color:var(--block-description-color);
  margin-bottom:1.6rem ;
}
  
.blocksy-card .blocksy-img-text .blocksy-img-text-inner .inner-card-btn .inner-btn{
  padding:1.8rem 4rem;
  font-size:16px;
  color:var(--block-button-font-color);
  background-color:var(--block-button-color);
  border-radius:var(--block-button-border-radius);
  border:none;
  cursor:pointer;
}
  
.blocksy-card .blocksy-img-text .blocksy-img-text-inner .inner-card-btn .inner-btn:hover{
  color:var(--block-button-font-hover-color);
  background-color:var(--block-button-hover-color);
}
/*!!!!!!!!!! IMage Text Css End !!!!!!!!!!  */ 
#image_slider_{{ section.id }}
{% endstyle %}

  <section id="image_slider_{{ section.id }}" class="vowel_section">
    <div class="page-width">
      <div>
        <div>
          {% render 'blocksy-heading',
            heading: section.settings.heading,
            heading_tag: section.settings.heading_tag,
            text_align: section.settings.text_align,
            font_size_desktop: section.settings.font_size_desktop,
            font_color: section.settings.font_color,
            subheading: section.settings.subheading,
            subheading_subtitle_heading_tag: section.settings.subheading_tag,
            subheading_text_align: section.settings.subheading_text_align,
            subheading_font_size_desktop: section.settings.subheading_font_size_desktop,
            subheading_font_color: section.settings.subheading_font_color,
            sec_desc: section.settings.subdesc,
            sec_desc_text_align: section.settings.subdesc_text_align,
            sec_desc_font_size_desktop: section.settings.subdesc_font_size_desktop,
            sec_desc_font_color: section.settings.subdesc_font_color,
            sec_width: section.settings.sec_width,
            heading_sec_align: section.settings.heading_sec_align,
            reverse: section.settings.rev_heading,
            cls: 'blocksy-image-slider'
          %}
        </div>
        <div>
          <div class="swiper mySwiper vis">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="swiper-slide">
              <div class="blocksy-card" 
                style="
                --block-sub-heading-size:{{ block.settings.card-subheading-size }}px;
                --block-sub-heading-color:{{block.settings.card-subheading-color}};
                --block-main-heading-size:{{ block.settings.card-heading-size }}px;
                --block-main-heading-color:{{ block.settings.card-heading-color}};
                --block-description-font-size:{{block.settings.card-description-size}}px;
                --block-description-color:{{  block.settings.card-description-color}};
                --block-button-color:{{ block.settings.card-button-color}};
                --block-button-font-color:{{ block.settings.card-button-font-color}};
                --block-button-hover-color:{{ block.settings.card-button-hover-color}};
                --block-button-font-hover-color:{{ block.settings.card-button-font-hover-color}};
                --block-button-border-radius:{{ block.settings.button-radius}}px;
                --block-image-border-radius:{{ block.settings.image-border-radius}}px;
                --block-image-opacity:{{ block.settings.image-opacity}}%;"
                >
                    <div class="blocksy-card-img">
                      <img src=" {{ block.settings.image | image_url: width: 1500}}" alt="" height="100%" width="100%">
                    </div>
                    <!-- Text -->
                    <div class="blocksy-img-text">
                      <div class="blocksy-img-text-inner">
                        <!-- subheading -->
                        {% if block.settings.card_sub_heading %}
                          <h5 class="inner-text-sub-heading">{{ block.settings.card_sub_heading }}</h5>
                        {% endif %}
                        <!-- main -->
                        {% if block.settings.card_heading %}
                          <h3 class="inner-text-main-heading">{{ block.settings.card_heading }}</h3>
                        {% endif %}
                        <!-- desc -->
                        {% if block.settings.card_descr %}
                          <p class="inner-text-description">{{ block.settings.card_descr }}</p>
                        {% endif %}
                        <!-- btn -->
                        {% if block.settings.button_label %}
                          <a src="{{ block.settings.card-btn-link }}" class="inner-card-btn">
                            <button class="inner-btn">{{ block.settings.button_label }}</button>
                          </a>
                        {% endif %}
                        <!--  -->
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor -%}
            </div>
            <div class="swiper-btn-div">
              {% if section.settings.show_navigation %}
                <div class="swiper-button-prev">&nbsp;</div>
                <div class="swiper-button-next">&nbsp;</div>
              {% endif %}
            </div>
            {% if section.settings.show_pagination %}<div class="swiper-pagination"></div>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Script Section -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
  <script>
    let column = {{section.settings.column_visible_desktop}};
    console.log(column);
    column=1.5;
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper', {
          spaceBetween: 10,
          loop: true,
          autoplay: {
          delay: 112500,
          disableOnInteraction: true,
        },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
          breakpoints: {
            640: {
              slidesPerView: {{ section.settings.column_visible_mobile }},
              spaceBetween: 20,
            },
            768: {
              slidesPerView: {{ section.settings.column_visible_tablet }},
              spaceBetween: 20,
            },
            1024: {
              slidesPerView:{{section.settings.column_visible_desktop}},
              spaceBetween: 20,
            },
          },
        });

           if({{section.settings.show_autoplay}}){
      swiper.autoplay.start()
    }else if(!{{section.settings.show_autoplay}}){
      swiper.autoplay.stop()
    }
      });
  </script>
  <!-- Script Section -->
{% endif %}
{% schema %}
{
  "name": "Blocksy • Image Slider",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_enabled",
      "label": "Section enabled/disbaled",
      "default": true
    },
    {
      "type": "header",
      "content": "Heading Customization"
    },
    {
      "type": "select",
      "id": "heading_sec_align",
      "label": "Heading Box Alignment",
      "options": [
        { "value": "start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "end", "label": "Right" }
      ],
      "default": "center"
    },
     {
      "type": "checkbox",
      "id": "rev_heading",
      "label": "Reverse Heading",
      "default": false
    },
   {
      "type": "header",
      "content": "Section Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Blocksy • Image Slider"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ],
      "default": "h2"
    },
    {
      "type": "number",
      "id": "font_size_desktop",
      "label": "Font Size",
      "default": 24
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Sub Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Section Heading",
      "default": "SECTION"
    },
    {
      "type": "select",
      "id": "subheading_tag",
      "label": "Sub heading",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "p", "label": "P" }
      ],
      "default": "h3"
    },
    {
      "type": "number",
      "id": "subheading_font_size_desktop",
      "label": "Font Size",
      "default": 24
    },
    {
      "type": "color",
      "id": "subheading_font_color",
      "label": "Font Color",
      "default": "#000000"
    },
{
      "type": "header",
      "content": "Section Description"
    },
    {
      "type": "text",
      "id": "subdesc",
      "label": "Description",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. "
    },
    {
      "type": "number",
      "id": "subdesc_font_size_desktop",
      "label": "Font Size",
      "default": 24
    },
    {
      "type": "color",
      "id": "subdesc_font_color",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "column_visible_desktop",
      "label": "Slides Visible (Desktop)",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "column_visible_tablet",
      "label": "Slides Visible (Tablet)",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "column_visible_mobile",
      "label": "Slides Visible (Mobile)",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
     {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show Navigation Buttons",
      "default": true
    },
     {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show Pagination",
      "default": true
    },
     {
      "type": "checkbox",
      "id": "show_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
     {
      "type": "select",
      "id": "card_title_heading_tag",
      "label": "Card Title Tag",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ],
      "default": "h2"
    },
         {
      "type": "number",
      "id": "card_title_font_size_desktop",
      "label": "Card Title Font Size",
      "default": 24
    },
    {
      "type": "color",
      "id": "card_title_font_color",
      "label": "Card Title Font Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding-top",
      "label": "Padding top",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "Padding bottom",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "padding-left",
      "label": "Padding left",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 1
    },
     {
      "type": "range",
      "id": "padding-right",
      "label": "Padding right",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 1
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "info": "Add your own custom styles here."
    }


  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
       {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },
       {
      "type": "range",
      "id": "image-border-radius",
      "label": "Image Border radius",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 1
    },
      {
      "type": "range",
      "id": "image-opacity",
      "label": "Opacity",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 1
    },
    {
      "type": "header",
      "content": "Card Sub Heading"
    },
    {
      "type": "text",
      "id": "card_sub_heading",
      "label": "Sub heading",
      "default": "Slide 1"
    },
    {
      "type": "number",
      "id": "card-subheading-size",
      "label": "Font Size",
      "default": 24
    },
    {
      "type": "color",
      "id": "card-subheading-color",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Card Heading"
    },
    {
      "type": "text",
      "id": "card_heading",
      "label": "Heading",
      "default": "This is me."
    },
    {
      "type": "number",
      "id": "card-heading-size",
      "label": "Font Size",
      "default": 24
    },
    {
      "type": "color",
      "id": "card-heading-color",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "inline_richtext",
      "id": "card_descr",
      "label": "Description",
      "default": "This is me."
    },
    {
      "type": "number",
      "id": "card-description-size",
      "label": "Font Size",
      "default": 24
    },
    {
      "type": "color",
      "id": "card-description-color",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "button label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "card-btn-link",
      "label": "Link",
    },
    {
      "type": "color",
      "id": "card-button-color",
      "label": "Buttom Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "card-button-font-color",
      "label": "Button Font Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "card-button-hover-color",
      "label": "Hover Button Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "card-button-font-hover-color",
      "label": "Hover Button Font Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "button-radius",
      "label": "Border Radius",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 1
    },
      ]
    }
  ],
    "presets": [
    {
      "name": "Blocksy • Image Slider",
      "category": "Image",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
