{% style %}
    .blocksy-newsletter-{{ section.id }}{
      position: relative;
      overflow: hidden;
    }

    .blocksy-newsletter-{{ section.id }} .blocksy_newsletter_inner{
      display:grid;
      height:var(--blocksy-newsletter-height);
    }
  
    .blocksy-subscribe-content-{{ section.id }}{
      grid-area:1 / 1;
      display:flex;
      align-items:center;
    }
  
     .blocksy-newsletter-{{ section.id }} .blocksy_newsletter_inner  .blocksy--newsletter-bg-img{
      grid-area:1 / 1;
      display: flex;
      width: 100%;
      height: 100%;
    }
  
     .blocksy-newsletter-{{ section.id }} .blocksy_newsletter_inner  .blocksy--newsletter-bg-img img{
      width: 100%;
      height: var(--blocksy-newsletter-height);
      object-fit: cover;
     }

    .blocksy-newsletter-{{ section.id }} .blocksy_newsletter_inner .blocksy--newsletter-bg-img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--blocksy-newletter-opacity-color); /* solid black overlay */
      opacity: var(--blocksy-newsletter-img-opacity); /* sets overlay transparency */
      pointer-events: none;
    }

    .blocksy_subscribe_content_main_inner {
      padding-top: {{ section.settings.newsletter_padding_top }}px ;
      padding-bottom:{{section.settings.newletter_padding_bottom}}px;
      padding-inline: 5rem;
    }
  
    .blocksy-subscribe-content-{{ section.id }} .blocksy-subscribe-content-inner {
      position: relative;
      z-index: 2;
      max-width: 800px;
    }

    .blocksy-newsletter-heading {
      font-size:{{section.settings.newsletter-heading-size}}px;
      font-weight: 300;
      margin:2rem 0rem;
      color:{{section.settings.newsletter-heading-color}};
    }

    .blocksy-newsletter-subheading{
      font-size:{{section.settings.newsletter-subheading-font-size}}px;
      color:{{section.settings.newsletter-subheading_font_color}};
    }
  
    .blocksy-newsletter-description {
      font-size: {{section.settings.newsletter-description-size}}px;
      color:{{section.settings.newsletter-description-color}};
      margin-bottom: 5px;
      line-height:30px;
    }

    .blocksy-newsletter-form {
      margin-top: 30px;
    }

    .blocksy-newsletter-form .blocksy_newsletter-form__message{
      margin:2rem 0rem;
      color:white;
      font-size:18px;
    }

    .blocksy-newsletter-form .blocksy_newsletter-form__message .svg-wrapper{
      height:14px;
      width:18px;
    }

    .blocksy-newsletter-form .blocksy_newsletter_inner_div {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 800px;
    }

    .blocksy-newsletter-form input[type="email"] {
      padding: 2rem 3rem 1rem 3rem;
      border: none;
      font-size: 20px;
      border-radius: 100px;
      width: 100%;
      height: 76px;
      outline: none;
      box-shadow: none;
      background-color: #fff;
      color: #000;
    }

    .blocksy-newsletter-form .blocksy_field__label {
      position: absolute;
      left: 3rem;
      top: 50%;
      transform: translateY(-50%);
      font-size:20px;
      color: #999;
      pointer-events: none;
      transition: all 0.2s ease;
    }
     
    .blocksy-newsletter-form input[type="email"]:focus + .blocksy_field__label,
    .blocksy-newsletter-form input[type="email"]:not(:placeholder-shown) + .blocksy_field__label {
      top: 15px;
      left:16px;
      font-size: 12px;
      color: #000;
    }

    .blocksy-newsletter-form .blocksy_newsletter_inner_div .blocksy-newsletter-form input[type="email"]:focus-visible {
      outline: none;
      outline-offset:0;
      box-shadow: none;
    }

    .blocksy-newsletter-form button {
      background: {{ section.settings.button_bg }};
      border: none;
      padding: 0 20px;
      margin:0 3.5px;
      height:76px;
      width:76px;
      border-radius:50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .blocksy-newsletter-form button svg {
      fill: {{ section.settings.button_icon_color }};
      width: 22px;
      height: 22px;
    }
     /* Content alignment And Position */
    /* === Position Classes === */
    .newsletter-position_flex-start {
      justify-content: flex-start;
      text-align:start;
    }

    .newsletter-position_center {
      justify-content:center;
      text-align:center;
    }

    .newsletter-position_flex-end {
      justify-content: flex-end;
      text-align:end;
    }
   /* Tablets*/
  @media screen and (max-width: 1100px) {
    .blocksy_subscribe_content_main_inner {
      padding-inline: 3rem;
    }

    .blocksy-newsletter-{{ section.id }} .blocksy_newsletter_inner{
      display:grid;
      height: auto;
      min-height: var(--blocksy-newsletter-tablet-height);
    }
    .blocksy-newsletter-{{ section.id }} .blocksy_newsletter_inner  .blocksy--newsletter-bg-img img{
       width: 100%;
       height:auto;
       min-height:var(--blocksy-newsletter-tablet-height);
       object-fit: cover;
     }

    .blocksy-subscribe-content-{{ section.id }} .blocksy-subscribe-content-inner {
      max-width: 90%;
    }

    .blocksy-newsletter-heading {
      font-size: calc({{ section.settings.newsletter-heading-size }}px * 0.8);
    }
    
    .blocksy-newsletter-form .blocksy_newsletter_inner_div {
      max-width: 950px;
    }
    
    .blocksy-newsletter-form input[type="email"] {
      padding: 2rem 3rem;
      border: none;
      font-size: 16px;
      border-radius:100px;
      width: 100%;
      height:65px;
    }
    
    .blocksy-newsletter-form .blocksy_newsletter_inner_div .blocksy_field__label{
      font-size: 16px;
     
    }
    
    .blocksy-newsletter-form button {
      background: {{ section.settings.button_bg }};
      padding: 0 20px;
      margin:0 3.5px;
      height:64px;
      width:64px;
      border-radius:50%;
    }

    .blocksy-newsletter-form button svg {
      fill: {{ section.settings.button_icon_color }};
      width: 19px;
      height: 19px;
    }
  }
  /* Mobile (≤767px) */
  @media screen and (max-width: 767px) {
    .blocksy-subscribe-content-{{ section.id }}{
      max-width:100%;
    }
    .blocksy_subscribe_content_main_inner {
      padding-inline: 1rem;
    }
    .blocksy-newsletter-template--18855301087428__blocksy_newsletter_HE4yw3 .blocksy_newsletter_inner {
      height: auto;
      min-height: var(--blocksy-newsletter-mobile-height);
    }
    .blocksy-newsletter-{{ section.id }} .blocksy_newsletter_inner  .blocksy--newsletter-bg-img img{
       width: 100%;
       height:auto;
       min-height:var(--blocksy-newsletter-mobile-height);
       object-fit: cover;
     }

    .blocksy-newsletter-heading {
      font-size: calc({{ section.settings.newsletter-heading-size }}px * 0.6);
      margin:1rem 0rem;
    }

    .blocksy-newsletter-subheading,
    .blocksy-newsletter-description {
      font-size:14px;
    }

    .blocksy-newsletter-form input[type="email"] {
      padding: 2rem 3rem;
      border: none;
      font-size: 14px;
      border-radius:100px;
      height:55px;
    }

    .blocksy-newsletter-form .blocksy_newsletter_inner_div .blocksy_field__label{
      font-size: 14px;
    }

    .blocksy-newsletter-form button {
      background: {{ section.settings.button_bg }};
      padding: 0 20px;
      margin:0 3.5px;
      height:50px;
      width:50px;
      border-radius:50%;
    }

    .blocksy-newsletter-form button svg {
      width: 17px;
      height: 17px;
    }

  }
  /*  */
  @media screen and (max-width: 640px){
    
    .blocksy-subscribe-content-template--18855301087428__blocksy_newsletter_HE4yw3{
      justify-content:center;
    }

    .blocksy-newsletter-heading, 
    .blocksy-newsletter-subheading,
    .blocksy-newsletter-description,
    .blocksy-newsletter-form .blocksy_newsletter-form__message{
      text-align:center;
    }
   }
{% endstyle %}

<section
  class="blocksy-newsletter-{{ section.id }}"
  style="
    --blocksy-newsletter-img-opacity:{{ section.settings.newsletter_overlay_opacity }}%;
    --blocksy-newletter-opacity-color:{{ section.settings.newsletter_overlay_color }};
    --blocksy-newsletter-bg-image:{{ section.settings.blocksy_newsletter_bg_image }};
    {% if section.settings.newsletter-bg-height == 'auto' %}
    --blocksy-newsletter-height:{{ section.settings.newsletter-bg-height}};
    {% else %}
    --blocksy-newsletter-height:{{ section.settings.newsletter-bg-height}}px;
    {% endif %}
    --blocksy-newsletter-mobile-height:{{ section.settings.newsletter-bg-mobile-height }}px;
    --blocksy-newsletter-tablet-height:{{ section.settings.newsletter-bg-tablet-height }}px;
  "
>
  <div class="blocksy_newsletter_inner">
    <!-- Image bg -->
    <div
      class="blocksy--newsletter-bg-img"
    >
      {% if section.settings.blocksy_newsletter_bg_image != blank %}
        {{ section.settings.blocksy_newsletter_bg_image | image_url: width: 3000 | image_tag: loading: 'lazy' }}
      {% else %}
        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-img' }}
      {% endif %}
    </div>
    <!-- Text -->
    <div class="blocksy-subscribe-content-{{ section.id }} blocksy_subscribe_content_main_inner newsletter-position_{{ section.settings.newsletter-text-content-alignment}} newsletter-text-align-{{ section.settings.newsletter-text_alignment }}">
      <div class="blocksy-subscribe-content-inner">
        {% if section.settings['newsletter-subheading'] != blank %}
          <p class="blocksy-newsletter-subheading">{{ section.settings['newsletter-subheading'] }}</p>
        {% endif %}
        {% if section.settings['newsletter-heading'] != blank %}
          <h2 class="blocksy-newsletter-heading">{{ section.settings['newsletter-heading'] }}</h2>
        {% endif %}
        {% if section.settings['newsletter-description'] != blank %}
          <p class="blocksy-newsletter-description">{{ section.settings['newsletter-description'] }}</p>
        {% endif %}

        {%- form 'customer', id: 'ContactFooter', class: 'blocksy-newsletter-form' -%}
          <div class="blocksy_newsletter_inner_div">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input
              id="blocksy-NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="ContactFooter-error"
              {% elsif form.posted_successfully? %}
                aria-describedby="ContactFooter-success"
              {% endif %}
              placeholder=" "
              required
            >
            <label class="blocksy_field__label" for="blocksy-NewsletterForm--{{ section.id }}">
              {{ section.settings.email_placeholder }}
            </label>
            <button
              type="submit"
              class="blocksy_newsletter-form__button blocksy_field__button"
              name="commit"
              id="Subscribe"
              aria-label="{{ 'newsletter.button_label' | t }}"
            >
              {% render 'blocksy-newsletter-button-icon' %}
            </button>
          </div>
          {%- if form.errors -%}
            <small class="blocksy_newsletter-form__message blocksy_form__message" id="blocksy_ContactFooter-error">
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </small>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
            <h3
              class="blocksy_newsletter-form__message blocksy_newsletter-form__message--success blocky_form__message"
              id="blocksy_ContactFooter-success"
              tabindex="-1"
              autofocus
            >
              <span class="svg-wrapper">
                {{- 'icon-success.svg' | inline_asset_content -}}
              </span>
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blocksy • Newsletter",
  "settings": [
    {
      "type": "image_picker",
      "id": "blocksy_newsletter_bg_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "newsletter_overlay_color",
      "label": "Overlay Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "newsletter_overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 1
    },
    {
      "type": "select",
      "id": "newsletter-bg-height",
      "label": "Height",
      "default": "650",
      "options": [
          { "value": "350", "label": "350" },
          { "value": "450", "label": "450" },
          { "value": "550", "label": "550" },
          { "value": "650", "label": "650" },
          { "value": "750", "label": "750" },
          { "value": "auto", "label": "auto" }
      ]
    },
    {
      "type": "select",
      "id": "newsletter-bg-tablet-height",
      "label": "Tablet height",
      "default": "750",
      "options": [
          { "value": "550", "label": "550" },
          { "value": "650", "label": "650" },
          { "value": "750", "label": "750" },
      ]
    },
    {
      "type": "select",
      "id": "newsletter-bg-mobile-height",
      "label": "Mobile height",
      "default": "550",
      "options": [
          { "value": "350", "label": "350" },
          { "value": "450", "label": "450" },
          { "value": "550", "label": "550" },
      ]
    },
    {
      "type": "header",
      "content": "Alignment"
    },
    {
      "type": "select",
      "id": "newsletter-text-content-alignment",
      "label": "Align Content",
      "default":"center",
      "options": [
        {
          "value": "flex-start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center",
        },
        {
          "value": "flex-end",
          "label": "End"
        }
      ]
    },
    {
      "type": "header",
      "content": "Sub heading"
    },
    {
      "type": "text",
      "id": "newsletter-subheading",
      "label": "Subheading",
      "default": "Sub heading"
    },
    {
      "type": "number",
      "id": "newsletter-subheading-font-size",
      "label": "Font Size",
      "default": 20
    },
    {
      "type": "color",
      "id": "newsletter-subheading_font_color",
      "label": "Font Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter-heading",
      "label": "Heading",
      "default": "Subscribe To Get 10% OFF"
    },
    {
      "type": "number",
      "id": "newsletter-heading-size",
      "label": "Font Size",
      "default": 64
    },
    {
      "type": "color",
      "id": "newsletter-heading-color",
      "label": "Font Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter-description",
      "label": "Description",
      "default":"Get the scoop first—exclusive offers, hot trends & store updates, delivered to you. 💌 Join our newsletter and never miss a drop."
    },
    {
      "type": "number",
      "id": "newsletter-description-size",
      "label": "Font Size",
      "default": 16
    },
    {
      "type": "color",
      "id": "newsletter-description-color",
      "label": "Font Color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Email"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Placeholder",
      "default": "Enter Your Email Address..."
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button Background Color",
      "default": "#f1c40f"
    },
    {
      "type": "color",
      "id": "button_icon_color",
      "label": "Arrow Icon Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "newsletter_padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "newletter_padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 80,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Blocksy • Newsletter",
      "category": "Custom"
    }
  ]
}
{% endschema %}
